name: AndroidX

on:
  schedule:
    # Every Sunday at 9.00am
    - cron: "0 9 * * 0"

  workflow_dispatch:

env:
  GRADLE_ENTERPRISE_URL: "https://ge.solutions-team.gradle.com"
  GRADLE_ENTERPRISE_ACCESS_KEY: "${{ secrets.GE_SOLUTIONS_ACCESS_TOKEN }}"
  GIT_REPO: "https://github.com/androidx/androidx"
  TASKS: "buildOnServer zipTestConfigsWithApks test"
  PROJECT_DIR: "biometric"

jobs:
  experiment-1:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: "8"
      - name: Set tools jar path
        run: |
          echo "JAVA_HOME=$JAVA_HOME" >> $GITHUB_ENV
          echo "JAVA_TOOLS_JAR=$JAVA_HOME/lib/tools.jar" >> $GITHUB_ENV
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: "11"
          distribution: "temurin"
      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
      - name: Download latest version of the validation scripts
        uses: gradle/gradle-enterprise-build-validation-scripts/.github/actions/gradle/download@28c499e8ecc1fad65ba23644bbcb44667e2a8a31
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run experiment 1
        uses: gradle/gradle-enterprise-build-validation-scripts/.github/actions/gradle/experiment-1@28c499e8ecc1fad65ba23644bbcb44667e2a8a31
        with:
          gitRepo: ${{ env.GIT_REPO }}
          tasks: ${{ env.TASKS }}
          projectDir: ${{ env.PROJECT_DIR }}
          gradleEnterpriseUrl: ${{ env.GRADLE_ENTERPRISE_URL }}

  experiment-2:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: "8"
      - name: Set tools jar path
        run: |
          echo "JAVA_HOME=$JAVA_HOME" >> $GITHUB_ENV
          echo "JAVA_TOOLS_JAR=$JAVA_HOME/lib/tools.jar" >> $GITHUB_ENV
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: "11"
      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
      - name: Download latest version of the validation scripts
        uses: gradle/gradle-enterprise-build-validation-scripts/.github/actions/gradle/download@28c499e8ecc1fad65ba23644bbcb44667e2a8a31
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run experiment 2
        uses: gradle/gradle-enterprise-build-validation-scripts/.github/actions/gradle/experiment-2@28c499e8ecc1fad65ba23644bbcb44667e2a8a31
        with:
          gitRepo: ${{ env.GIT_REPO }}
          tasks: ${{ env.TASKS }}
          projectDir: ${{ env.PROJECT_DIR }}
          gradleEnterpriseUrl: ${{ env.GRADLE_ENTERPRISE_URL }}

  experiment-3:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: "8"
      - name: Set tools jar path
        run: |
          echo "JAVA_HOME=$JAVA_HOME" >> $GITHUB_ENV
          echo "JAVA_TOOLS_JAR=$JAVA_HOME/lib/tools.jar" >> $GITHUB_ENV
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: "11"
      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
      - name: Download latest version of the validation scripts
        uses: gradle/gradle-enterprise-build-validation-scripts/.github/actions/gradle/download@28c499e8ecc1fad65ba23644bbcb44667e2a8a31
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run experiment 3
        uses: gradle/gradle-enterprise-build-validation-scripts/.github/actions/gradle/experiment-3@28c499e8ecc1fad65ba23644bbcb44667e2a8a31
        with:
          gitRepo: ${{ env.GIT_REPO }}
          tasks: ${{ env.TASKS }}
          projectDir: ${{ env.PROJECT_DIR }}
          gradleEnterpriseUrl: ${{ env.GRADLE_ENTERPRISE_URL }}
